include README.txt CHANGES.txt MIT-LICENSE setup.py Kookbook.py Properties.py
recursive-include lib *
recursive-include bin *
recursive-include test *
recursive-include doc *
recursive-include examples *
